<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="it">
              <dir
                name="skinjobs">
                <auto
                  name="ConfiguratorApplicationAPI.java"/>
                <dir
                  name="api">
                  <auto
                    name="API.java"/>
                  <auto
                    name="BaseAPI.java"/>
                  <auto
                    name="CompatibilityConstraintsAPI.java"/>
                  <auto
                    name="ComponentAPI.java"/>
                  <auto
                    name="ComponentFamilyAPI.java"/>
                  <auto
                    name="ComponentTypeAPI.java"/>
                  <auto
                    name="CredentialAPI.java"/>
                  <auto
                    name="DeleteAllAPI.java"/>
                  <auto
                    name="FileAPI.java"/>
                  <auto
                    name="ReadySetupAPI.java"/>
                </dir>
                <dir
                  name="dto">
                  <auto
                    name="CompatibilityConstraintDTO.java"/>
                  <auto
                    name="ComponentDTO.java"/>
                  <auto
                    name="ComponentFamilyDTO.java"/>
                  <auto
                    name="ComponentTypeDTO.java"/>
                  <auto
                    name="CredentialDTO.java"/>
                  <auto
                    name="NamedDTO.java"/>
                  <auto
                    name="ReadySetupDTO.java"/>
                  <auto
                    name="UploadFileResponse.java"/>
                </dir>
                <dir
                  name="main">
                  <auto
                    name="ServletInitializer.java"/>
                </dir>
                <dir
                  name="model">
                  <auto
                    name="CompatibilityConstraint.java"/>
                  <auto
                    name="Component.java"/>
                  <auto
                    name="ComponentFamily.java"/>
                  <auto
                    name="ComponentType.java"/>
                  <auto
                    name="Credential.java"/>
                  <auto
                    name="ReadySetup.java"/>
                  <auto
                    name="Session.java"/>
                </dir>
                <dir
                  name="repository">
                  <auto
                    name="CompatibilityConstraints.java"/>
                  <auto
                    name="ComponentFamilies.java"/>
                  <auto
                    name="ComponentTypes.java"/>
                  <auto
                    name="Components.java"/>
                  <auto
                    name="Credentials.java"/>
                  <auto
                    name="ReadySetups.java"/>
                  <auto
                    name="Sessions.java"/>
                </dir>
                <dir
                  name="utils">
                  <auto
                    name="Callable.java"/>
                  <auto
                    name="CredentialsProperties.java"/>
                  <auto
                    name="Environment.java"/>
                  <auto
                    name="FileStorageException.java"/>
                  <auto
                    name="FileStorageProperties.java"/>
                  <auto
                    name="FileStorageService.java"/>
                  <auto
                    name="MyFileNotFoundException.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="it">
              <dir
                name="skinjobs">
                <dir
                  name="api">
                  <auto
                    name="BaseApiTest.java"/>
                  <auto
                    name="CompatibilityConstraintsAPITest.java"/>
                  <auto
                    name="ComponentAPITest.java"/>
                  <auto
                    name="ComponentFamilyAPITest.java"/>
                  <auto
                    name="ComponentTypeAPITest.java"/>
                  <auto
                    name="CredentialApiTest.java"/>
                  <auto
                    name="DeleteAllApiTest.java"/>
                  <auto
                    name="FileApiTest.java"/>
                  <auto
                    name="ReadySetupApiTest.java"/>
                </dir>
                <dir
                  name="config">
                  <auto
                    name="H2TestProfileConfig.java"/>
                </dir>
                <dir
                  name="dto">
                  <auto
                    name="CompatibilityConstrainDTOtest.java"/>
                  <auto
                    name="ComponentDTOtest.java"/>
                  <auto
                    name="ComponentFamilyDTOtest.java"/>
                  <auto
                    name="ComponentTypeDTOtest.java"/>
                  <auto
                    name="CredentialDTOtest.java"/>
                  <auto
                    name="NamedDTOtest.java"/>
                  <auto
                    name="ReadySetupDTOtest.java"/>
                  <auto
                    name="UploadFileResponseTest.java"/>
                </dir>
                <dir
                  name="model">
                  <auto
                    name="CompatibilityConstraintTest.java"/>
                  <auto
                    name="ComponentFamilyTest.java"/>
                  <auto
                    name="ComponentTest.java"/>
                  <auto
                    name="ComponentTypeTest.java"/>
                  <auto
                    name="CredentialTest.java"/>
                  <auto
                    name="ReadySetupTest.java"/>
                  <auto
                    name="SessionTest.java"/>
                </dir>
                <dir
                  name="repository">
                  <auto
                    name="CompatibilityConstraintsTest.java"/>
                  <auto
                    name="ComponentFamiliesTest.java"/>
                  <auto
                    name="ComponentTypesTest.java"/>
                  <auto
                    name="ComponentsTest.java"/>
                  <auto
                    name="CredentialTest.java"/>
                  <auto
                    name="CredentialsTest.java"/>
                  <auto
                    name="SessionsTest.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
</project>
