<form [formGroup]="form" (ngSubmit)="onAddPrebuilt()">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Utilizzo</mat-label>
    <input matInput formControlName="use" />
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Prezzo</mat-label>
    <input matInput formControlName="price" />
  </mat-form-field>

  <label class="form-label" for="upload">Upload file</label>
  <input type="file" id="upload" (change)="upload($event)" />

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Aggiungi componenti
  </button>
</form>

<div
  *ngIf="saveComplete"
  class="alert alert-success"
  style="width: 80vh; margin: 15px"
>
  <h3>Salvataggio Effettuato</h3>
</div>
